body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* LOGO AND NAV" */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  font-style: normal;
}

.logo-studio {
  color: #2e2f42;
}
/* NAV" */
.page-nav .link-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-style: normal;
  text-decoration: none;
}
.page-nav .link-menu:hover,
.page-nav .link-menu:focus {
  color: #404bbf;
}
.page-nav .link-menu:active {
  color: #404bbf;
}
/* ADDRESS" */
.page-address {
  font-style: normal;
}
.contacts .link-coms {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}
.contacts .link-coms:hover,
.contacts .link-coms:focus {
  color: #404bbf;
}
.contacts .link-coms:active {
  color: #404bbf;
}
/*SECTION 1" */
.title-main {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}
.main-color {
  background-color: #2e2f42;
  /*BUTTON  " */
}
.button-order-service {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.button-order-service:hover,
.button-order-service:focus {
  background-color: #404bbf;
}
/*SECTION 2 About Company" */

.about-company .title-qualities {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.title-about-company .text-inform {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*SECTION 3 TEAM" */
.team {
  background-color: #f4f4fd;
}
.title-our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.persons {
  background-color: #ffffff;
}
.persons .title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.persons .text-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*SECTION 4 Our Portfolio  " */

.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.our-portfolio .title-services {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.our-portfolio .text-of-services {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*FOOTER " */
.page-footer {
  background-color: #2e2f42;
}
/*LOGO" */
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-style: normal;
  text-decoration: none;
}

.logo-studio-footer {
  color: #f4f4fd;
}
.page-footer .text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
